# Игнорировать папку node_modules
node_modules/

# Игнорировать все .log файлы
*.log

# Игнорировать временные файлы
*.tmp
*.swp

# Игнорировать IDE-конфигурации
.idea/
.vscode/

# Игнорировать файлы окружения
.env
.env.local

# Игнорировать выходные сборки
dist/
build/

project.ini